//------------通用-----------------------
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}

a {
    background-color: transparent;
    cursor          : pointer;
    text-decoration : none;
    color           : #000;
}

input {
    outline: none;
    border : none;
}

div::-webkit-scrollbar {
    width: 0;
}

body {
    font-size: 14px;
    color    : #737088;
    background-color:#f9f9f9;
}

.warp {
    margin: 10px;
}
.badge {
    background-color: #cfdadd;
    border-radius: 10px;
}
//------------首页-----------------------
//------------header--------------------
.lipper-header {
    height: 50px;
    background-color: #fff;
    .lipper-header-content {
        max-width            : 1280px;
        margin               : auto;
        display              : grid;
        grid-template-columns: 150px auto 200px;

        .lipper-logo {
            width : 100px;
            height: 50px;
            margin: auto;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .lipper-nav {
            height: 50px;

            ul {
                display       : flex;
                flex-direction: row;
                height        : 50px;

                li {
                    width      : 100px;
                    text-align : center;
                    display    : inline-block;
                    list-style : none;
                    font-size  : 15px;
                    height     : 100%;
                    line-height: 48px;
                }

                :hover {
                    color: #0dce9e;
                }
            }
        }
    }
}

.lipper-banner {
    max-height: 500px;
    display: block;
    img {
        width: 100%;
        max-height:500px;
    }
}

//----------------统计------------
.lipper-total{
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top:10px;
    img{
        background-color: #fff;
        display: flex;
        position: absolute;
        width: 200px;
        height: 200px;
        margin-top:-140px;
        margin-left: 30px;
        padding: 10px;
    }
    ul{
        display: flex;
        flex-direction: row;
        margin-left: 300px;
        li{
            width: 100px;
            margin: auto;
            display: flex;
            flex-direction: column;
            span{
                margin: auto;
            }
            label{
                margin: auto;
                padding: 10px;
            }
        }
    }
}

.lipper-content {
    max-width            : 1280px;
    margin               : auto;
    display              : grid;
    grid-template-columns: 200px auto 250px;
    .box-left {
        background-color: #fff;
        margin: 10px 10px 10px 0;
        padding:10px;
        .left-sub{
            display:block;
            padding:10px;
            .left-sub-title{
                height:30px;
            }
            ul{
                margin-top:10px;
                li{
                    height:30px;
                    line-height:30px;
                    padding-left:20px;
                    display:flex;
                    justify-content: space-between;
                    b{
                        margin:5px 0;
                        font-size: 11px;
                        width:30px;
                        height:20px;
                        line-height:20px;
                        padding-left:10px;
                    }
                }
            }
        }
    }
    .box-center{
        margin: 10px 10px 10px 0;
    }
    .box-right {
        margin: 10px 0;
    }
}
.lipper-item{
    padding:20px;
    background-color:#fff;
    margin-bottom:10px;
    border-radius: 5px;
    .item-header{
        display: flex;
        flex-direction:row;
    }
    .lipper-avatar{
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .item-title{
        margin-left:20px;
        display: flex;
        flex-direction: column;
        .item-title-tip{
            font-weight: 600;
        }
        .item-labels{
            padding:10px;
            .item-label{
            }
            .item-time{
                margin-left:20px;
            }
        }
    }
    .lipper-desc{
        margin-top: 20px;
    }
    .item-cover {
        width: 100%;
        margin-top: 20px;
        display              : grid;
        grid-template-columns: auto 300px;
        img{
            width: 100%;
        }
    }
}

.box-right{
    .right-item-box{
        margin-top:20px;
        border-radius: 5px;
        .item-box-tip{
            margin: 10px 0;
        }
        .hot-item{
            margin: 10px 0;
            display              : grid;
            grid-template-columns: 110px auto;
            background-color: #fff;
            border-radius: 5px;
            img{
                width:100px;
                height:70px;
                border-radius: 5px;
                margin: 5px;
            }
            .hot-content{
              display: flex;
              flex-direction: column;
              div{
                  margin: 10px;
              }
            }
        }
        .item-comment{
            padding:10px;
            background-color: #fff;
            border-radius: 5px;
            border-bottom: 1px dashed #DEDEDE;
            .item-comment-header{
                height:50px;
                line-height: 50px;
                display              : grid;
                grid-template-columns: 60px auto 100px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .item-comment-content{
                padding: 10px;
                background-color: rgb(255, 250, 250);
            }
        }

    }
}
