//------------通用-----------------------
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}

a {
    background-color: transparent;
    cursor          : pointer;
    text-decoration : none;
    color           : #000;
}

input {
    outline: none;
    border : none;
}

div::-webkit-scrollbar {
    width: 0;
}

body {
    font-size: 14px;
    color: #737088;
}
//------------首页-----------------------
//------------header--------------------
.lipper-header {
    height: 50px;

    .lipper-header-content {
        max-width            : 1280px;
        margin               : auto;
        display              : grid;
        grid-template-columns: 150px auto 200px;

        .lipper-nav {
            height: 50px;
            ul {
                display       : flex;
                flex-direction: row;
                height: 50px;

                li {
                    width     : 100px;
                    text-align: center;
                    display: inline-block;
                    list-style: none;
                    font-size: 15px;
                    height: 100%;
                    line-height: 48px;
                }
                :hover {
                    color: #0dce9e;
                }
            }
        }
    }

}